<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <title>Library</title>
  </head>
  <body>
    <div class="container">
      <%- include('./components/header.ejs') %>
      <div class="content-wrap">
        <div class="fullLibrary">
          <h1>Library</h1>
          <div class="card">
            <h2>Add a book</h2>
            <%- include('./components/add-book-form.ejs') %>
          </div>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
