* {
  margin: 0;
}

html {
  height: 100%;
  display: flex;
}

body {
  flex-grow: 1;
  display: flex;
}

.left {
  width: 40%;
  height: 100%;
  background: url(images/left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.left img {
  margin-left: -10%;
  width: 90%;
  height: 10%;
}

.left p {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}

.right {
  padding-left: 10%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-main {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right-linkbtns {
  gap: 5%;
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-signin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  background: rgba(66, 133, 244, 1);
  color: #fff;
  padding: 1%;
}

.google-signin svg {
  display: flex;
  justify-self: left;
}

.riht-input {
  height: 10%;
}

input {
  height: 80%;
  width: 50%;
  border: 1px solid gainsboro;
}
