.app {
  width: 100%;
  /* max-width: 900px;
  min-width: 500px; */
  color: white;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    180deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(2, 0, 36, 1) 34%
  );
}
