* {
  margin: 0px;
}

#webpage {
  min-height: 100vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZWf8e2S5RaG0F66jzfV4kTsWaTFsTA07ketxadMX_8MNA5zqzxNt3ZcIaitEVWLt-p4Y&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#header {
  position: fixed;
  width: 100%;
  background-color: #e0e3da;
  display: flex;
  justify-content: space-between;
}

#headerImage {
  margin: 10px;
  width: 90px;
  height: 120px;
}

#header-links {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
}

#header-links a {
  text-decoration: none;
  color: black;
}

#content {
  margin: 10px;
  padding: 40px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

#firstcard {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f4f1db;
  width: 100%;
  height: 300px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

#secondcard {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f4f1db;
  width: 100%;
  height: 300px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}
