* {
  margin: 0;
}

body {
  background: #c174c3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 5%;
}

.form {
  width: fit-content;
  height: 80%;
  background: white;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.158);
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.header1 {
  padding-top: 3%;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.dot {
  color: rgba(200, 129, 95, 1);
}

a {
  text-decoration: none;
  color: black;
}

.header2 {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

main {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.main-text {
  padding-left: 5%;
}

.main-text h5 {
  margin-top: 5%;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.main-text h1 {
  margin-top: 2%;
  font-family: Sofia Pro;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 80%;
  letter-spacing: -2.24px;
  text-transform: uppercase;
}

.main-text button {
  margin-top: 5%;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
  border-radius: 4px;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.shoe {
  width: fit-content;
  margin-right: 5%;
}

.shoe img {
  width: 120%;
  height: 100%;
  position: relative;
}

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .main-text h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
  }
}
