.header {
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  min-width: 20rem;
  gap: 10px;
  max-height: 100vh;
}

.headerDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #121212;
  padding: 15px;
  border-radius: 10px;
}

.headernd {
  display: flex;
  gap: 5px;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.searchDropdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.expandableInput {
  background-color: rgb(96, 96, 96);
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: auto;
  min-width: 20px;
  max-width: 100px;
}

.expandableInput:focus {
  outline: none;
}

.dropdown {
  margin: 0 auto;
  z-index: 10000;
  width: 140px;
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdownBtn {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 10px;
  border: none;
  color: #777;
  font-weight: 250;
  position: relative;
}

.dropdownBtn h5 {
  text-wrap: nowrap;
  overflow: hidden;
  text-align: end;
  margin: 2px;
  min-width: 10px;
  max-width: 80px;
  width: auto;
}

.item.selected:hover,
.dropdownBtn:hover {
  font-weight: bold;
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.dropdownContent {
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.item {
  background-color: black;
}

.dropdownContent .item {
  padding: 10px;
  cursor: pointer;
}
.dropdownContent .item:hover {
  background: #777;
}

ul img {
  width: 30%;
  height: 90%;
  border: none;
  border-radius: 10px;
}
